core/*.log
core/.DS_Store
core/.env
core/.env.backup
core/.env.live
core/.env.production
core/.phpactor.json
core/.phpunit.result.cache
/core/.fleet
/core/.idea
/core/.nova
/core/.phpunit.cache
/core/.vscode
/core/.zed
/core/auth.json
/core/node_modules
/core/public/build
/core/public/hot
/core/public/storage
/core/storage/*.key
/core/storage/pail
/core/vendor
core/Homestead.json
core/Homestead.yaml
core/Thumbs.db
deploy_temp/
deploy.zip